@import '@/assets/styles/variables';

.submit-button {
  width: 150px;
  height: 34px;
  border: none;
  background-color: $color-primary;
  border-radius: 7px;
  color: $color-white;
  cursor: pointer;
  font-size: $font-size-regular;
  line-height: $line-height-small;
  font-family: $font-family;
  transition: $transition-time all;

  &:disabled {
    cursor: not-allowed;
    color: $color-primary-opacity;
    background-color: $color-button-disabled;
  }
}
