@import '../variables';

@mixin input() {
  width: 400px;
  height: 50px;
  border: 2px solid $color-primary-opacity;
  border-radius: 7px;
  padding: 16px 20px;
  transition: $transition-time border;
  outline: none;
  font-family: $font-family;
  font-size: $font-size-regular;

  &::placeholder {
    transition: $transition-time color;
    color: $color-primary-opacity;
  }

  &:focus {
    border: 2px solid $color-primary;

    &::placeholder {
      color: $color-primary;
    }
  }
}
