@import '@/assets/styles/variables';
@import '@/assets/styles/mixins/input';

.input-text {
  position: relative;
  overflow: hidden;

  &__element {
    @include input();
  }

  &_required::after {
    content: '*';
    position: absolute;
    top: 14px;
    right: 18px;
    font-size: 20px;
    line-height: 30px;
    color: $color-red;
  }
}
