@import '@/assets/styles/variables';

.field-tooltip {
  

  &__tooltip {
    

    

    &_shown {
      top: 50%;
      opacity: 1;
      visibility: visible;
    }

    &_color {
      &_red {
        background-color: $color-red;
        color: $color-white;
      }
      &_gray {
        background-color: $color-button-disabled;
        color: $color-primary;
      }
    }
  }
}