$font-family: 'Poppins', sans-serif;

// font sizes

$font-size-small: 11px;
$font-size-regular: 14px;
$font-size-large: 66px;

// line heights

$line-height-small: 16px;
$line-height-regular: 20px;
$line-height-large: 99px;

// colors
$color-primary: rgba(28, 28, 28, 1);
$color-primary-opacity: rgba(28, 28, 28, 0.6);
$color-red: rgba(163, 22, 33, 1);
$color-white: #ffffff;
$color-black: #000000;

// transition
$transition-time: .3s;